@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 34, 120, 85; /* a calm green */
  --color-primary-light: 148, 210, 182;
  --color-primary-dark: 20, 80, 60;
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  }

  body {
    @apply bg-white text-slate-900;
  }
}
